# Dependencies
node_modules/
# package-lock.json
yarn.lock
pnpm-lock.yaml

# Testing
coverage/
.nyc_output/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Build
dist/
build/

# Temp
tmp/
temp/

# Projets de test générés
my-saas/
test-*/

# tester les templates
test-template/